$font-Primary : 'Roboto',
sans-serif;
$font-secondary: 'Raleway',
sans-serif;
$nova: 'Nova Mono',
monospace;
$vt: 'VT323',
monospace;
$major: 'Major Mono Display',
monospace;

.bg-orange {
    background-color: #FF6600 !important;
}


body {
    font-family: $font-secondary;
    color: #666666;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: background 1s ease-in-out;
    position: relative;
    
    > div{
        min-height: 90vh !important;
    }
    > div:last-child{
        display: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: $font-Primary;
        font-weight: 400;
    }

    h2 {
        font-weight: 300;
    }

    h3 {
        color: #2B69A1;
        font-weight: 400;
    }

    ul {
        list-style: none;
    }

    p {
        margin: 0;
        letter-spacing: 1px;
    }
}