.accueil {
    i {
        color: #F49466;
    }

    h2 {
        display: inline-block;
        position: relative;
        z-index: 20;
        color: #FFFFFF;


        &:before {
            content: '';
            width: 100%;
            height: 10px;
            background-color: rgba(255, 255, 255, 0.2);
            position: absolute;
            z-index: 1;
            display: block;
            top: 70%
        }

        @media screen and (max-width: 768px) {
            font-size: 1.8rem;
        }
        @media screen and (max-width: 350px) {
            font-size: 1.6rem;
        }
    }

    div.jeu-cv{
        min-width: 130px;
        h5 {
            position: relative;
            display: inline-block;
            &:before {
                content: '';
                width: 100%;
                height: 5px;
                background-color: rgba(255, 255, 255, 0.2);
                position: absolute;
                z-index: 1;
                display: block;
                top: 70%
            }
        }   
    }

    .table-home {
        margin: auto;
        width: 100%;
        height: 500px;
        position: relative;
        background: rgb(102, 163, 242);
        background: linear-gradient(135deg, rgba(102, 163, 242, 0.08) 0%, rgba(5, 131, 242, 0.53) 100%);
        box-shadow: -5px 5px 10px 2px rgba(8, 8, 8, 0.42);

        i {
            margin-right: 10px;
        }

        .filet {
            width: 2px;
            height: 540px;
            position: absolute;
            background-color: #FFFFFF;
            left: 50%;
            top: -20px;
            overflow: hidden;
            color: #FFF;
            padding-top: 3rem;

            h5 {
                font-size: 0rem;
            }
            p{
                transition: 2s;

            }

            &.presentation {
                background-color: transparent;
                padding-right: 3rem;
                padding-left: 3rem;
                width: 100%;
                left: 0;

                h5 {
                    font-size: 1.4rem;
                }
                p{
                    min-width: 50vw;
                }
            }

            @media screen and (max-width: 768px) {
                justify-content: flex-start;
                padding-top: 30px;
                height: 1000px;
                top: 10px;
                background-color: #FFFFFF;

                &.presentation {
                    background-color:   transparent;
                    height: 580px;
                    padding-right: 1rem;
                    padding-left: 1rem;
                    left: 0;

                    h5 {
                        font-size: 1.7rem;
                    }

                    p {
                        font-size: 1.2rem;
                        // min-width: 60vw;
                    }
                }
            }
            @media screen and (max-width: 350px) {
                &.presentation {

                    p {
                        font-size: 1.1rem;
                        min-width: 80vw;
                    }
                }
            }

        }

        .separation {
            color: #FFFFFF;
            height: 6px;
            width: 96%;
            position: absolute;
            background-color: #FFFFFF;
            top: 247px;
            left: 4%;

            div {
                opacity: 0;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                top: 597px;
                left: 3%;
            }

            @media screen and (max-width: 576px) {
                width: 100vw;
                top: 597px;
                left: 0;
            }
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            height: 1000px;
            margin-bottom: 50px;
        }
    }

}