section.cv {
    overflow: hidden;
    background-color: hsla(0, 0%, 100%, 0.38);

    .head-cv {
        position: relative;
        align-items: center;
        z-index: 2;

        .fond-top {
            background-color: #ED554D;
            position: absolute;
            left: -10%;
            top: -19%;
            width: 120%;
            height: 120%;
            transform: rotate(4deg);
        }

        .infos {
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-weight: 400;
                color: #FFFFFF;
            }

            a {
                color: #FFFFFF;
            }

            i {
                color: #FFF;
                margin-right: 10px;
            }

            @media screen and (max-width: 768px) {
                padding-left: 10px;

                h1 {
                    text-align: center;
                }
            }
        }

        .profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 350px;

            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
                margin-top: 50px;
            }

            div {
                background-size: cover;
                box-shadow: 0px 0px 0px 8px #FFFFFF61;
                margin: auto;
                border-radius: 50%;
                width: 200px;
                height: 200px;

            }

            h2 {
                text-align: center;
                color: #FFFFFF;
            }

        }

        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            padding-bottom: 50px;
        }


    }

    .competences {
        padding: 50px;

        ul {
            li {
                color: #FFFFFF;
            }

            &:first-of-type {
                font-size: 1.3rem;
                text-align: right;

                li {
                    line-height: 2;

                    i {
                        margin-left: 10px;
                    }
                }

                @media screen and (max-width: 1000px) {
                    font-size: 1rem;
                }

                @media screen and (max-width: 768px) {
                    font-size: 1.3rem;
                }
            }
        }

        h4 {
            font-weight: 400;
            color: rgb(255, 255, 255);
        }

        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    .experiences {
        background-color: #212121;
        position: relative;
        top: -50px;
        z-index: 1;
        padding: 100px 50px 50px 50px;
        color: #FFFFFF;

        .regular-font {
            font-weight: 400;
        }

        h3 {
            text-align: center;
        }

        @media screen and (max-width: 768px) {
            top: 0px;
            padding-top: 50px;

        }
    }

    .download {
        text-align: center;
    }

}