header {
    border-bottom: 1px solid #FFF;

    h2 {
        a {
            img {
                width: 30px;
                margin-right: 10px;
            }

            span {
                font-family: $major;
                color: #FFFFFF;
                font-weight: 200;
                vertical-align: middle;

                @media screen and (max-width: 768px) {
                    font-size: 1.1rem;
                }

                @media screen and (max-width: 360px) {
                    font-size: 0.9rem;
                }
            }
        }
    }

    nav {
        .is-active {
            color: #fff !important;
            background-color: #000000 !important;
            border-color: #343a40 !important;
        }

        button {

            @media screen and (max-width: 350px) {
                width: 40px !important;
                padding: 0px !important;
            }
        }
    }

    .ui-btn {
        width: initial;
    }
}