section.jeu {
    position: relative;

    .ui-mobile .ui-page {
        min-height: 100vh !important;
    }

    div.canvas {
        position: relative;

        button {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border-width: 0;
            top: 15px;
            right: 0;

            i {
                font-size: 2rem;
            }
        }

        canvas {
            max-height: calc(100vw / 0.618);
            box-shadow: -5px 5px 10px 2px #0808086b;
            display: none;
        }
    }

    div.instructions {
        position: absolute;
        width: 100%;
        top: 0;

        ul {
            box-shadow: -5px 5px 10px 2px #0808086b;
            padding: 0;

            li {
                .keys {
                    cursor: initial;
                }
            }
        }

        @media screen and (max-width: 768px) {
            position: inherit;
        }
    }
}