section.accueil.text-center
    h2.my-5 <i class="fas fa-home"></i> Bonjour et bienvenue !
    .table-home
        .filet.text-justify.d-flex.flex-column
            div.text-center
                div.jeu-cv
                    h5.mb-3 <i class="fas fa-table-tennis"></i> Jeu CV
            p Je suis développeur FullStack JS junior. Dans le cadre de l'atelier front end de ma formation à l'IFOCOP Paris 11, j'ai conçu ce jeu afin de vous présenter de manière ludique mon CV. Je vous propose, à travers une folle partie de ping-pong, de découvrir mes compétences au fur et à mesure que vous gagnerez des points. 
            p.mt-2 Pour jouer, rendez-vous à l'onglet jeu où vous pourrez choisir un niveau de difficulté et le nombre de sets gagnants.
        .separation.row
            .col-md-6.pt-5.px-4
                    h5 <i class="fas fa-desktop"></i> Sur desktop :
                    p Pour commencer une partie ou servir, appuyez sur la touche espace et pour vous déplacer utilisez les flèches gauche et droite.
            .col-md-6.pt-5.px-4
                    h5 <i class="fas fa-mobile-alt"></i> Sur mobile :
                    p Pour commencer une partie ou servir, balayez l'ecran vers la droite et au "toucher" ou "tap" sur l'écran pour vous déplacer.

