section.cv.mt-3
    .row.head-cv
        .fond-top
        .col-md-7.infos
            h1 Amirouche OURRAD
            ul
                li
                    a(href="mailto:amirouche.ourrad@gmail.com") 
                        |<i class="fas fa-envelope"></i> 
                        |amirouche.ourrad@gmail.com
                li 
                    a(href="tel:0631257825")
                        |<i class="fas fa-phone-square-alt"></i> 
                        |0631257825
                li
                    a(href="https://www.linkedin.com/in/amirouche-ourrad/" target="blank") 
                        |<i class="fab fa-linkedin"></i> 
                        |amirouche ourrad
                li 
                    a(href="https://github.com/Aourrad" target="blank")
                        |<i class="fab fa-github-square"></i> 
                        |Aourrad
        .col-md-5.profile
            div(style="background-image: url('assets/img/profile.jpg')")
            h2 
                |Développeur 
                br
                |full stack JS
    .row
        .col-md-5.competences
            h3.mb-3 Compétences
            ul
                li HTML <i class="fab fa-html5" style="color: #F1652A"></i>
                li CSS <i class="fab fa-css3-alt" style="color: #214AE3 "></i>
                li JavaScript / jQuery <i class="fab fa-js"  style="color: #F7DF1C "></i>
                li Angular <i class="fab fa-angular"  style="color: #D6032E "></i>
                li Wordpress <i class="fab fa-wordpress-simple"  style="color: #433D3B "></i>
                li php <i class="fab fa-php"  style="color: #7478AE "></i>
                li mongo DB / MySQL <i class="fas fa-database"  style="color: #000000 "></i>
                li Webpack / Gulp <i class="fab fa-gulp"  style="color: #EB4A4A "></i>
                li Sass <i class="fab fa-sass"  style="color: #C86597 "></i>
                li Node.Js <i class="fab fa-node-js"  style="color: #87C000 "></i>
                li Git <i class="fab fa-github-square"  style="color: #24292D "></i>
                li Linux <i class="fab fa-linux"  style="color: #F6C203 "></i>
                li aws (EC2, RDS, S3) <i class="fab fa-aws"  style="color: #FF9900 "></i>
                li Docker <i class="fab fa-docker"  style="color: #389FEE "></i>
            h3.mt-5.mb-3 Outils
            h4 Traitement d'image
            ul
                li  Photoshop
                li  Illustrator
                li  Lightroom

            h4 Design et Ergonomie
            ul
                li  Sketch
                li  Axure
        .col-md-7.experiences
            h3.mb-3 Formations
            h4 Développeur full stack JS
            p Ifocop Paris 11 / Oct 2019
            p.
                JavaScript es5/es6, Git
                Html, Css, Sass, Bootstrap, 
                TypeScript, Framework Angular, 
                Node.JS, Express, Ajax, WebSocket
                Mongodb 

            h4.mt-4 Développeur front end
            p Cifap Montreuil 93100  / Nov 2018
            p Titre de Chef de projet multimédia niveau II (Fr) 6 (Eu)

            h3.mt-5 Certifications
            h4.regular-font OpenClassrooms
            p HTML5 et CSS3 / PHP et MySQL / JavaScript Linux / aws / Angular / React / node.js …

            h3.mt-5 Expériences
            h4.regular-font Développement web Freelance
            p Réalisation de sites web 
            p Design, Création graphique ergonomie 
            p (php / js / jquery / sass / WordPress)
            h4.regular-font.mt-3 Responsable centre de profit
            p Caves saint gilles Paris 3ème

            h3.mt-5 Centres d'intérêt
            p Photographie amateur, Percussions
            p Football, Cuisine accords mets et vins
    div.text-center.m-4
        a.btn.btn-secondary(href="assets/doc/cv_amirouche_ourrad.pdf" target="blank") 
            |<i class="fas fa-file-download"></i> 
            |Download CV
