
section.jeu
    div.canvas
        button.btn.btn-outline-secondary#stop-game(type="button") <i class="far fa-stop-circle"></i>
        canvas#canvas.w-100.mt-3(width=1400, height=860)
    div.instructions.mt-3
        ul.list-group-flush 
                
            li.list-group-item
                div 
                    h4.my-3 <i class="fas fa-tasks"></i> Réglages
                div
            li.list-group-item#audio
                h5.my-0.mr-3 Audio
                div.d-flex.align-items-center.mt-3
                    input.mb-1#audio(type="checkbox" name="audio" value="1" checked)
                    label.my-0.mx-3(for="audio") On
            li.list-group-item
                h5.my-0.mr-3 Niveau
                div.d-flex.align-items-center.mt-3
                    
                    input.mb-1#niveau1(type="radio" name="niveau" value="0" checked)
                    label.my-0.mx-3(for="niveau1") Novice
                    input.mb-1.ml-5#niveau2(type="radio" name="niveau" value="1")
                    label.my-0.mx-3(for="niveau2") Expert

            li.list-group-item 
                    h5.my-0.mr-3 Nombres de sets Gagnants
                    div.d-flex.w-75
                        div.d-flex.align-items-center.mt-3
                            input.mb-1#sets1(type="radio" name="sets" value="1" checked)
                            label.my-0.mx-3(for="sets1") 1

                            input.mb-1.ml-5#set2(type="radio" name="sets" value="3")
                            label.my-0.mx-3(for="set2") 3

                            input.mb-1.ml-5#set3(type="radio" name="sets" value="5")
                            label.my-0.mx-3(for="set3") 5

            li.list-group-item.text-center
                .btn.btn-info.px-5.py-3.my-3#on JOUER