h2
    a.navbar-brand.logo(href="")
        img(src="./assets/img/logo1.png", alt="logo")
        span AMIROUCHE OURRAD
button.navbar-toggler(data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon

.justify-content-end.collapse.navbar-collapse#navbarNavAltMarkup
    each link in menu
        .nav-item.d-block.my-2
            if link.active
                a.nav-link.btn.btn-outline-dark.ml-1.is-active#links(data-pathname=link.link, href=link.link)=link.name
            else
                a.nav-link.btn.btn-outline-dark.ml-1#links(data-pathname=link.link, href=link.link)=link.name